* {
    font-family: Poppins, sans-serif;
    background-color:rgba(117, 117, 240, 0.285);
    margin: 0;
    padding: 0;
    color: azure;
    box-sizing: border-box;
    
  }
  h1{
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    padding: 20px 4px 0 0;
    background-color:rgba(117, 117, 240, 0.285);
  }
  .h1{
    text-align: center;
    font-style: italic;
    font-size: 18px;
    padding-bottom: 20px;
    background-color:rgba(117, 117, 240, 0.285);
  }
  #survey-form{
    background-color: #1b1b32;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
  }
  section {
    margin: 0.5 0;
    font-size: 20px;
    background-color: #1b1b32;
    width: 100%
  }
  /* .two, .three, .four, .five , .six{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: -6px 0;

  } */
  .two input,  select{
    height: 40px;
    width: 99%;
    padding: -25px 0;
    border-radius: 6px;
    background-color: azure;
    color: grey;
  }
  textarea{
    width: 99%;
    height: 100px;
    padding: -20px 0;
    border-radius: 2px;
    background-color: azure;
    color: grey;
  }
  .two label{
    padding-bottom: -30px;
  }
 

  input, textarea, select {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
  }
  
  input[type="radio"], input[type="checkbox"] {
    margin: 5px;
  }
  .button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    width: 99%
  }
  button:hover {
    background-color: #45a049;
  }
  
  