* {
    font-family: Poppins, sans-serif;
    background-color:rgba(117, 117, 240, 0.285);
    margin: 0;
    padding: 0;
    color: azure;
    box-sizing: border-box;
    
  }
  h1{
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    padding: 20px 4px 0 0;
  }
  .h1{
    text-align: center;
    font-style: italic;
    font-size: 18px;
    padding-bottom: 20px;
  }
  #survey-form{
    background-color: #1b1b32;
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  label {
    margin: 4rem 0;
  }
  
  