* {
    font-family: Poppins, sans-serif;
    background-color:rgba(117, 117, 240, 0.285);
    margin: 0;
    padding: 0;
    color: azure;
    box-sizing: border-box;
    
  }
  h1{
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    padding: 20px 4px 0 0;
    background-color:rgba(117, 117, 240, 0.285);
  }
  .h1{
    text-align: center;
    font-style: italic;
    font-size: 18px;
    padding-bottom: 20px;
    background-color:rgba(117, 117, 240, 0.285);
  }
  #survey-form{
    background-color: #1b1b32;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
  }
  section {
    margin: 0.5rem 0;
    font-size: 20px;
    background-color: #1b1b32;
    width: 100%
  }
  .two{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 0.5em;
    

  }
  .two input,  select, textarea{
    height: 40px;
    padding: -20px 0;
    border-radius: 6px;
    background-color: azure;
    color: grey;
  }
  .two label{
    padding-bottom: -30px;
  }
 

  input, textarea, select, button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
  }

  
  